@import url(//db.onlinewebfonts.com/c/ebea2aa546d58c52c20de57835663484?family=Bradley+Hand+ITC+Std);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://allfont.net/allfont.css?fonts=book-antiqua");


html {
  min-height:100%;
  position: relative;
  background-image: url("./static/Background.png");
  background-repeat: no-repeat;
}

@media (max-width: 726px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 726px) {
  .mobile {
    display: none;
  }
}

/**           Navbar            **/
/** Desktop **/
@media (max-width: 726px) {
  .desktop-nav {
    display: none;
  }
}

@media (min-width: 726px) {
  .desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #326436;
  font-family: 'Poppins', sans-serif;
  }
}


.about, .aboutActive, .contact, .contactActive {
  display: inline-block;
  margin-right: 14%;
  margin-left: 12%;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.contactActive, .aboutActive {
  border-bottom: 1px solid white;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: inline-block;
  height: 105px;
  width: 210px;
}


@media (min-width: 726px) {
  .mobile-nav {
    display: none;
  }
}

/** Mobile **/
@media (min-width: 726px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 726px) {
  .mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #326436;
  }
}



.logoLink-mobile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-mobile {
  display: block;
  height: 105px;
  width: 210px;
}

.dropContent {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.aboutMobile, .aboutActive-mobile, .contact-mobile, .contactActive-mobile {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
}

.seperator {
  width: 100%;
  height: 5px;
}

.dropDown {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 1px;
}

/**           Home            **/

/** Desktop **/
.desktop {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  background-color: rgba(0, 0, 0, 0.8);
}

.homeHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #326436cd;
  z-index: 10;
  height: 240px;
}

.nameWrapper {
  position: absolute;
  width: 100%;
}

.name {
  font-size: 64px;
  letter-spacing: 2px;
  color: white;
  padding-right: 5px;
  z-index: 5;
}

.iconHome {
  width: 400px;
  height: 200px;
  z-index: 5;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.cursor {
  font-size: 60px;
  font-weight: 100;
  padding-bottom: 5px;
  color: white;
  animation: 1s blink step-end infinite;
  z-index: 5;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.tagline {
  position: absolute;
  text-align: center;
  font-size: 32px;
  line-height: 2;
  font-weight: 700;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  color: white;
  margin: 0 auto;
  display: block;
}

.buttons {
  position: absolute;
  text-align: center;
  padding-top: 220px;
  height: auto;
  width: 100%;
}

.aboutButton, .contactButton {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border: 1.5px solid white;
  margin-right: 10%;
  margin-left: 10%;
  color: white;
  text-decoration: none;
  background-color: black;
}

.aboutButton:hover, .contactButton:hover {
  background-color: #1a1a1a;
}


/** Mobile **/
.mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#home-mobile {
  background-color: rgba(0, 0, 0, 0.8);
}

.name-mobile {
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  padding-right: 5px;
  z-index: 5;
}

.homeHeader-mobile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #326436cd;
  z-index: 10;
  height: 50vw;
}

.iconHome-mobile {
  top: 0;
  position: absolute;
  width: 100%;
}

.cursor-mobile {
  font-size: 28px;
  font-weight: 100;
  padding-bottom: 5px;
  color: white;
  animation: 1s blink step-end infinite;
  z-index: 5;
}

.taglines-mobile {
  color: white;
  font-size: 22px;
  line-height: 2;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

.attribute, .description {
  font-size: 32px;
  color: white;
}

.symbol {
  color:rgb(143, 143, 143);
}

.youthful {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons-mobile {
  position: absolute;
  text-align: center;
  padding-top: 10px;
  height: auto;
  width: 100%;
}

.buttons-mobile > .aboutButton, .contactButton {
  margin-top: 50px;
}

/**           About           **/

/** Desktop **/
.About {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.nameTag {
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 92%;
  background-color: #326436;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.myName {
  font-size: 36px;
  padding-top: 3px;
}

.myTitle {
  font-size: 24px;
}

.intro {
  display: flex;
  align-items: center;
  background-color: #326436;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: 2%;
  margin-right: 3%;
  border-radius: 10px;
}

.meTag {
  font-family: "Bradley Hand ITC Std";
  font-size: 32px;
  font-weight: 700;
  margin-left: 15%;
  padding-top: 1%;
}

.mypic {
  height: 30%;
  width: 30%;
  z-index: 5;
}


.bio {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 20px;
  line-height: 2;
  font-family: 'Poppins', sans-serif;
}

.bioPersonal {
  padding-left: 3%;
  padding-right: 5%;
  font-size: 20px;
  line-height: 2;
  font-family: 'Poppins', sans-serif;
}

.mySkills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Poppins', sans-serif; 
  margin-top: 2%;
  margin-bottom: 0%;
}

.webDevelop, .otherLang {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #326436;
  padding-top: 3%;
  width: 33%;
  border-radius: 15px;
  margin-right: 1%;
}

.russ {
  height:25%;
  width: 25%;
}

.otherLang {
  margin-left: 1%;
}

.web {
  margin-bottom: 0;
  margin-top: 0;
}

.other {
  margin-bottom: 0;
  margin-top: 0;
}

.frontendList, .backendList { 
  margin-bottom: 10px;
}

.frontendList {
  padding-left: 20%;
}

.skillsListBackend {
  margin-right: 20%;
  padding-left: 20%;
  margin-top: 0;
  line-height: 2;
}

.skillsList {
  margin-top: 0;
  line-height: 1.4;
}

.skillsListOther {
  margin-top: 3%;
  margin-right: 30%;
  line-height: 2;
  font-size: 18px;
}

.backend {
  padding-right: 10%;
  margin-bottom: 0;
}

.frontend {
  padding-left: 10%;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.russTag {
  text-align: center;
  font-family: "Bradley Hand ITC Std";
  font-size: 32px;
  font-weight: 700;
}

/** Mobile **/
.about-mobile {
  padding-top: 20px;
  padding-bottom: 2%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.nameTag-mobile {
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  width: 92%;
  background-color: #326436;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.myName-mobile {
  font-size: 32px;
}

.myTitle-mobile {
  font-size: 22px;
}

.mypic-mobile {
  width: 93%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bios-mobile {
  line-height: 1.8;
  text-align: left;
  padding-left: 2%;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #326436;
  border-radius: 10px;
  font-size: 17px;
  margin-bottom: 20px;
}

.webDevelop-mobile, .otherLang-mobile {
  padding-left: 2%;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #326436;
  border-radius: 10px;
  font-size: 17px;
  margin-bottom: 20px;
}

.web-mobile, .other-mobile {
  margin-top: 10px;
  margin-bottom: 10px;;
}

.backendList-mobile, .frontendList-mobile {
  margin-bottom: 0px;
}

.left-list, .right-list {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

/**           Contact           **/
/** Desktop **/
@media (min-width: 725px) {
  .mobile-contact {
    display: none;
  }
  .desktop-contact {
    position: absolute;
    height: 82.8%;
    width: 100%;
    background-color: white;
  }
}

@media (max-width: 726px) {
  .desktop-contact {
    display: none;
  }
}

.card {
  width: 100%;
}

.Contact {
  height: 429px;
  width: 750px;
  background-color: rgb(255, 251, 241);
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.8);
}

.nameTag-contact {
  position: absolute;
  bottom: 300px;
  left: 30px;
  color: white;
  font-family: 'Book Antiqua', arial;
}

.myName-contact {
  font-size: 36px;
}

.myTitle-contact {
  font-size: 24px;
}

.underLine {
  margin-top: 10px;
  height: 5px;
  width: 150px;
  background-color: #509b53;
}

.methods {
  position: relative;
  bottom: 260px;
  left: 30px;
  color: white;
  font-size: 24px;
  font-family: 'Book Antiqua', arial;
}

.phone, .address, .mail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address {
  margin-top: 10px;
}

.phone-icon, .pin-icon, .mail-icon {
  position: relative;
  width: 50px;
  display: inline;
}

.phoneNum, .email {
  display: inline;
  margin-bottom: 10px;
  margin-left: 5px;
  color: white;
}

.emailLink {
  text-decoration: none;
  margin-bottom: 10px;
}

.emailLink:hover {
  text-decoration: underline;
  color: white;
}

.mail-icon {
  width: 45px;
}

.email {
  display: inline;
  margin-bottom: 15px;
  margin-left: 5px;
  color: white;
}

.mail {
  margin-top: 20px;
}

.socials {
  position: relative;
  bottom: 250px;
  left: 440px;
  width: 250px;
}

.linkedin, .github, .resume {
  position: relative;
  width: 50px;
  margin-right: 20px;
}


/** Mobile **/
.mobile-contact {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Book Antiqua', arial;
  height: 76vh;
}

.nameTag-contact-mobile {
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.underLine-mobile {
  position: relative;
  margin-top: 10px;
  height: 5px;
  width: 150px;
  background-color: #509b53;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.methods-mobile{
  margin-top: 30px;
  padding-left: 20px;
  font-size: 22px;
}

.socials-mobile {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#social-mobile {
  padding-top: 20px;
}

.linkedin-mobile, .resume-mobile {
  display: inline-block;
  width: 50px;
}

.linkedin-mobile {
  margin-right: 20px;
}

.github-mobile {
  width: 50px;
  filter: invert(0%);
  -webkit-filter: invert(100%);
  margin-right: 20px;
}





